$purple: #521151;
$button: #ffff00;
* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Reem Kufi', sans-serif;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.Navbar {
    width: 100%;
    background-color: $purple;
    display: flex;
    padding: 16px;
    min-height: 10vh;
    font-family: sans-serif;
    color: white;
    a {
        color: white;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
    .active-link {
        color: black !important;
    }
}

.Navbar-brand {
    font-size: 25px;
}

.Navbar-Link {
    padding-right: 20px;
    font-size: 15px;
    margin-left: 20px;
}

.Navbar-Items {
    display: flex;
}

.Navbar-Items--right {
    margin-left: auto;
    cursor: pointer;
}

.Navbar-Link-toggle {
    display: none;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 450px;
    background-color: $purple;
    img {
        height: 200px;
        width: 200px;
    }
    button {
        border-radius: 0px;
        color: black;
        border: 2px solid $button;
        background-color: $button;
        font-weight: 600;
    }
}

.all {
    background-image: url("/images/background2.png");
    background-size: cover;
    background-position: center center fixed;
    background-repeat: no-repeat;
}

#product {
    min-height: 200px;
    padding-top: 30px;
    #card {
        min-height: 200px;
        text-align: center;
        background-image: url("/images/product-background.jpg");
        background-size: cover;
        background-position: center center fixed;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 200px;
        }
        p {
            margin-top: 20px;
        }
    }
}

.articles {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a {
            color: black;
            border-radius: 0px;
            background-color: $button;
            border: 2px solid $button;
            font-weight: 600;
            text-decoration: none;
        }
        .btn:focus,
        .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

.footer {
    background-color: black;
    min-height: 420px;
    color: white;
    .container-fluid {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .row {
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            input {
                font-size: 13px;
                padding-left: 10px;
                width: 25em;
                margin-bottom: 10px;
                border: 2px solid white;
                border-radius: 0px;
            }
            textarea {
                font-size: 13px;
                padding-left: 10px;
                width: 25em;
                border: 2px solid white;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            .invalid-feedback {
                margin-left: 10px;
                font-size: 11px;
                color: white;
            }
            button {
                border-radius: 0px;
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 20px;
                background-color: $button;
                color: black;
                border: 2px solid $button;
            }
        }
    }
    .social {
        width: 80%;
        text-align: center;
        i {
            color: white;
            margin-left: 3px;
        }
        hr {
            width: 100%;
            border: 1px solid white;
        }
        p {
            font-size: 13px;
        }
    }
}

.articles {
    background-color: white;
    min-height: 500px;
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .row {
            margin-top: 30px;
            button {
                border-radius: 0px;
                border: 2px solid $button;
                color: black;
                background-color: $button;
                font-weight: 600;
            }
            .card-title {
                font-weight: 600;
            }
            .card-text {
                font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .Navbar-Items,
    .Navbar {
        flex-direction: column;
        width: 100%;
    }
    .Navbar-Items {
        display: none;
    }
    .Navbar-Items--right {
        margin-left: 0;
    }
    .Navbar-ToggleShow {
        display: flex;
        background-color: $purple;
    }
    .Navbar-Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .hero-section p {
        font-size: 13px;
    }
    .hero-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-section img {
        margin-left: 0px !important;
    }
    .all {
        background-image: url("/images/background3.png");
        background-size: 80% 100%;
        background-position: center center fixed;
        background-repeat: no-repeat;
    }
    .product {
        .card {
            width: 18rem;
        }
    }
    .container {
        .card {
            margin: 0 auto;
            width: 15rem !important;
        }
    }
    .footer input {
        width: 20em !important;
    }
    .footer textarea {
        width: 20em !important;
    }
    .articles .card {
        margin: 0 auto;
    }
}